#Account-id {
    margin-top: -200px;
    margin-left: 350px;
}

#Password-id {
    margin-top: 0;
    margin-left: 350px;
}

#Signin-btn {
    width: 300px;
    margin-top: 10px;
    margin-left: 390px;
}

img {
    width: 200px;
    height: 200px;
    user-select: none;
    cursor: wait;
}